A draft of the notebook which will be used for analyzing the eval metrics in regard to the different seeds

In [1]:
#!pip install numpy
#!pip install pandas
#!pip install seaborn
#!pip install matplotlib

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import json

In [3]:
results_json = '<ADD_PATH>'

In [4]:
with open(results_json) as file:
    file_contents = file.read()

results = json.loads(file_contents)

What we have:

* For each dataset:
   * For each seed:
       * Test mode F1, Precision, Recall

TODO IDEAS:
* Produce histplots with the distributions of the evaluation metrics for test set. N = # of seeds
* Produce descriptive statistics (mean, median, etc)
* Compare the values with the ones reported in the paper

In [9]:
df = pd.DataFrame(columns = ['dataset', 'f1', 'precision', 'recall'])

In [11]:
for i in range(len(results)):
    row = {
        'dataset': results[i]['setup']['dataset'],
        'f1': results[i]['results']['test_set']['f1'],
        'precision': results[i]['results']['test_set']['precision'],
        'recall': results[i]['results']['test_set']['recall']
    }
    df = df.append(row, ignore_index = True)

In [17]:
df.head(10)

    dataset        f1  precision    recall
0  D1-res15  0.578641   0.554935  0.604462
1  D1-res14  0.735632   0.732338  0.738956
2  D1-lap14  0.565714   0.588119  0.544954
3  D1-res15  0.569926   0.591703  0.549696
4  D1-res16  0.683426   0.666062  0.701721
5  D1-res16  0.632214   0.575235  0.701721
6  D1-res15  0.603363   0.588803  0.618661
7  D1-res14  0.712068   0.710290  0.713855
8  D1-lap14  0.562977   0.586481  0.541284
9  D1-res15  0.602261   0.610417  0.594320

In [22]:
d1_res14 = df[df['dataset'] == 'D1-res14'].drop(columns='dataset')
d1_res15 = df[df['dataset'] == 'D1-res15'].drop(columns='dataset')
d1_res16 = df[df['dataset'] == 'D1-res16'].drop(columns='dataset')
d1_lap14 = df[df['dataset'] == 'D1-lap14'].drop(columns='dataset')

In [27]:
d1_res14.describe()

              f1  precision     recall
count  12.000000  12.000000  12.000000
mean    0.716360   0.710092   0.723059
std     0.012055   0.019194   0.012634
min     0.694779   0.677064   0.694779
25%     0.710909   0.697470   0.716867
50%     0.712472   0.706670   0.724900
75%     0.724497   0.724376   0.730422
max     0.735632   0.742564   0.740964